.row {
  @apply cursor-pointer sm:cursor-auto outline outline-1 outline-gray-70 rounded text-xs font-medium;

  &.small > td {
    @apply py-2.5 px-5;
  }

  &.large > td {
    @apply py-6 px-5;
  }

  & > td {
    &:first-child {
      @apply rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }
  }
}

.clickable {
  @apply cursor-pointer;

  &:hover {
    @apply outline-gray-50;
  }
}

.active {
  @apply outline-gray-50 bg-gray-70;
}

.text {
  &Left {
    @apply text-left;
  }

  &Center {
    @apply text-center;
  }

  &Right {
    @apply text-right;
  }
}

.spacer.small {
  @apply h-2;
}

.spacer.large {
  @apply h-2.5;
}
