REACT_APP_RATES_HISTORY_API_URL=https://bob-mm-cache.test.sovryn.app/data/rates-history

REACT_APP_GRAPH_RSK=https://subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/sovryn-subgraph

REACT_APP_GRAPH_BOB=https://bob-ambient-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/bob-ambient-subgraph

REACT_APP_GRAPH_ZERO=https://zero-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/zero-subgraph

REACT_APP_NETWORK=testnet

REACT_APP_GRAPH_ZERO=https://zero-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/zero-subgraph

REACT_APP_GRAPH_MYNT=https://mynt-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/mynt-subgraph

REACT_APP_GRAPH_BOB=https://bob-ambient-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/bob-ambient-subgraph
REACT_APP_GRAPH_BOB_STAKING=https://bob-staking-subgraph.test.sovryn.app/subgraphs/name/DistributedCollective/sovryn-subgraph-staking

REACT_APP_ENABLE_TESTNET_FAST_BTC=true

REACT_APP_STAGING=false

REACT_APP_ENABLE_SERVICE_WORKER=false

# All transactions will be simulated on forked mainnet, REACT_APP_ESTIMATOR_URI is required
REACT_APP_SIMULATE_TX=false
REACT_APP_ESTIMATOR_URI=https://simulator.sovryn.app

REACT_APP_DATADOG_CLIENT_TOKEN=

REACT_APP_GRAPH_BOB_AAVE=https://bob-mm.test.sovryn.app/subgraphs/name/DistributedCollective/subgraph-template