.wrapper {
  @apply w-full max-w-xs flex flex-row justify-between items-center font-roboto;
}

.input {
  @apply w-full rounded px-3 leading-tight text-xs font-medium text-gray-10 bg-gray-70 hover:bg-gray-60;

  &::placeholder {
    @apply text-gray-30;
  }

  &:focus {
    @apply outline outline-1 outline-gray-50 bg-gray-60;
  }

  &:disabled {
    @apply cursor-not-allowed bg-gray-70-ol text-gray-10/50;

    &::placeholder {
      @apply text-gray-30/50;
    }
  }

  &:read-only:not(:disabled) {
    @apply bg-gray-70/50 outline outline-1 outline-gray-50 text-gray-30;
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    appearance: textfield;
  }
}

.invalid {
  @apply outline outline-1 outline-error-light bg-gray-60;
}
