.button {
  @apply cursor-pointer inline-flex box-border items-center justify-center text-center rounded cursor-pointer transition-colors;

  &.primary {
    @apply border-t-2 border-t-transparent text-base text-gray-9 rounded-b-none h-12;
    min-width: 10rem;

    &.normal {
      @apply font-medium;
    }
    &.withBorder.active {
      @apply border-x border-x-gray-50;
      &:last-child {
        @apply border-r-0;
      }
      &:first-child {
        @apply border-l-0;
      }
    }
    &.withBorder:not(.active) {
      @apply border-b border-b-gray-50;
    }
    &:not(:disabled):not(.active):hover {
      @apply text-gray-10;
    }
    &.active {
      @apply text-gray-10 bg-gray-80;
    }
  }

  &.secondary {
    &.normal {
      @apply font-semibold text-xs px-0.5 py-2 mx-0.5;
      min-width: 3.5rem;
    }
    &.small {
      @apply font-semibold text-tiny px-0.5 py-1 mx-0.5;
      min-width: 2.5rem;
    }
    &.active {
      @apply bg-gray-80;
    }
    &:not(.active) {
      @apply text-gray-10 opacity-75;
      &:not(:disabled):hover {
        @apply opacity-100;
      }
    }
  }

  &:disabled {
    @apply text-gray-9/65 cursor-not-allowed;
  }
}
