.badge {
  @apply rounded-full inline-flex items-center justify-center overflow-hidden;

  font-family: 'Roboto';
  font-style: normal;

  &.sm {
    @apply h-3.5 w-3.5 text-tiny font-medium;
  }
  &.md {
    @apply h-8 w-8 text-sm font-semibold;
  }

  &.gray {
    @apply bg-gray-50 text-gray-10;
  }
}
