.icon {
  @apply ml-2 opacity-30 hover:opacity-100 transition-opacity;

  &.active {
    @apply opacity-100;
  }

  &.up {
    @apply -rotate-90 ml-2;
  }

  &.down {
    @apply rotate-90 ml-2;
  }
}
