.container {
  @apply w-full min-h-full flex flex-row justify-center items-start relative;
}

.aside {
  @apply h-full min-h-full bg-gray-80 p-[1.25rem] flex-shrink-0 flex-grow-0 w-[19.25rem] relative
    flex flex-col justify-between items-start;
  transition: clip-path 0.3s ease-in-out;
}

.header {
  @apply pt-[2.875rem] pb-[4.5rem] w-full relative;
}

.footer {
  @apply pt-[2.875rem] w-full relative;
}

.tabs {
  @apply w-full flex flex-col justify-center items-center gap-y-[2.5rem];
}

.content {
  @apply w-full h-full p-[3.25rem] relative overflow-y-auto;
  background-color: inherit;
}

