.button {
  @apply cursor-pointer inline-flex box-border items-center justify-center text-center rounded transition-colors relative flex-grow;

  &.primary {
    @apply border-t-2 border-t-transparent border-b text-base text-gray-10/50 rounded-b-none h-12;
    min-width: 10rem;

    &.normal {
      @apply font-medium;
    }

    &:not(:disabled):not(.active):hover {
      @apply text-gray-10;
    }

    &.active {
      @apply text-gray-10 bg-gray-90 border-x border-x-gray-50 pb-0.5 border-b-transparent;
    }

    &:last-child {
      @apply border-r-0;
    }

    &:first-child {
      @apply border-l-0;
    }

    &:not(.active) {
      @apply bg-gray-80 border-b-gray-50 border-r border-r-gray-50 rounded-none border-t-0;

      &:last-child,
      &.noRightBorder {
        @apply border-r-0;
      }
    }
  }

  &.secondary {
    @apply bg-gray-80 mx-1;

    &:first-child {
      @apply ml-0;
    }

    &:last-child {
      @apply mr-0;
    }

    &.normal {
      @apply font-semibold text-xs px-3 py-2;
      min-width: 3.5rem;
    }

    &.small {
      @apply font-medium text-tiny px-2 py-1;
      min-width: 2.5rem;
    }

    &.active {
      @apply bg-gray-70;
    }

    &:not(.active) {
      @apply text-gray-30/75;
      &:not(:disabled):hover {
        @apply text-gray-10;
      }
    }
  }

  &.slider {
    &.normal {
      @apply text-sm font-semibold px-3 py-1.5;
      min-width: 5rem;
    }

    &.small {
      @apply font-semibold text-xs px-2 py-1;
      min-width: 3rem;
    }

    &.active {
      @apply text-primary-20 bg-gray-70;
    }

    &:not(.active) {
      @apply text-gray-30/75;
      &:not(:disabled):hover {
        @apply text-gray-10;
      }
    }
  }

  &:disabled {
    @apply cursor-not-allowed;
  }
}
