.button[type='button'] {
  @apply flex items-center bg-gray-60 border-gray-60 justify-between relative h-full min-w-20 whitespace-nowrap font-roboto text-gray-10 text-xs font-semibold leading-none cursor-pointer select-none transition-colors border rounded;

  &.isOpen {
    @apply bg-gray-80 border-gray-80;
  }

  &:hover {
    @apply border-gray-50;
  }

  &.small {
    @apply h-8 px-2;
  }

  &.large {
    @apply h-10 px-2.5;
  }
}

.dropdown {
  @apply absolute overflow-x-auto mt-1 transition-colors;
  z-index: 9999;
}

.icon {
  @apply transition-transform ml-2;
  &.isOpen {
    @apply transform rotate-180;
  }
}
