.track {
  @apply h-1 bg-gray-50 rounded;
}

.isDouble {
  & .track {
    &:nth-child(1), &:nth-child(3) {
      @apply bg-gray-50 !important;
    }
  }
}

.thumb {
  @apply h-2.5 w-2.5 bg-sov-white rounded-full -top-[3px];
  &:focus {
    @apply outline-none;
  }
}
