.wrapper {
  @apply fixed inset-0 flex flex-col justify-center items-center;
}

.container {
  @apply overflow-y-auto overflow-x-hidden w-full min-h-full p-0;
  @screen sm {
    @apply min-h-0 p-4;
  }
}

.dialog {
  @apply relative bg-black text-sov-white p-0 mx-auto min-h-full;
  @screen sm {
    @apply min-h-0 my-16;
  }

  &:focus {
    @apply outline-none;
  }
}
