@layer base {
  html,
  body {
    @apply h-full w-full font-normal overflow-x-hidden;
  }

  body {
    @apply bg-content-main text-primary-content font-body text-base leading-normal transition-colors;
  }

  @screen lg {
    body {
      @apply text-base leading-normal;
    }
  }

  * {
    @apply font-body scrollbars-wide;
  }

  *:focus {
    outline: 0;
    outline-offset: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a,
  a:visited {
    @apply text-primary no-underline;
  }

  a:hover,
  a:active {
    @apply text-primary underline;
  }

  th {
    text-align: inherit;
  }

  #root {
    @apply flex flex-col min-h-full;
  }

  @font-face {
    font-family: 'Druk LC';
    src: url('../../../public/assets/DrukLC-Medium.woff2') format('woff2'),
      url('../../../public/assets/DrukLC-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
