@layer base {
  html,
  body {
    @apply h-full w-full font-normal;
  }

  body {
    @apply bg-content-main text-primary-content font-body text-base leading-normal transition-colors;
  }

  @screen lg {
    body {
      @apply text-base leading-normal;
    }
  }

  * {
    @apply font-roboto scrollbars-wide;
  }

  *:focus {
    outline: 0 !important;
    outline-offset: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a,
  a:visited {
    @apply text-primary no-underline underline;
  }

  a:hover,
  a:active {
    @apply text-primary underline;
  }

  th {
    text-align: inherit;
  }
}
