.row {
  @apply cursor-pointer sm:cursor-auto outline outline-2 outline-gray-70 rounded bg-gray-90 text-xs font-medium;

  & > td {
    @apply py-3 px-4;

    &:first-child {
      @apply pl-5;
    }

    &:last-child {
      @apply pr-5;
    }
  }
}

.clickable {
  @apply cursor-pointer;

  &:hover {
    @apply outline-gray-50;
  }
}

.active {
  @apply outline-gray-50 bg-gray-70;
}

.text {
  &Left {
    @apply text-left;
  }

  &Center {
    @apply text-center;
  }

  &Right {
    @apply text-right;
  }
}

.spacer {
  @apply h-2;
}
